* {
    margin: 0 auto;
    padding: 0;
}

body {
    align-content: center;
}
.wrapper {
    width: 1400px;
    height: 800px;
}
header {
    background-color: #1a1a1a;
    height: 20px;
    color: white;
    font-size: 12px;
    font-family: 'Inconsolata' ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    margin: 0 0 50px 0;

}

header a {
    color: white;
    text-decoration:  none;
    font-size: 12px;
}

.left {
    float: left;
    padding: 3px 0  0 20px;
}
.right {
    float: right;
    padding: 5px 20px  0 0;
}

.first {
    font-family: 'Dosis', sans-serif;
    padding: 2% 0 0 22%;
    font-size: 40px;


}


.fon {
    margin: 50px 0 0 0;
    height: 400px;
    background: linear-gradient(to bottom, #f0eeef, #fdfdfd);
}

.fon img {
    padding: 0px 0px 0 117px;
}
.btn {
    margin: 94px 0px 0px 16%;

}

.btn button {
    width: 153px;
    height: 15px;
   
    background-color: rgb(102, 102, 102);
    margin: 0px -4px 0px 0;
    outline: none;
    border: none;
    border-right: solid 1px white;
}

.btn button:hover{
    background-color: #0a0a0a;
    cursor: pointer;
}

.shit {

    margin: 5% 0 0 37% ;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: #a0a090;
}

.two {
    display: block;
    margin: 40px 0px 7px 20px;
}
.three {
    margin: 0 0 0 -40px;
}